--
-- PostgreSQL database dump
--

\restrict ZcNs1jU1kAiiFqAheSwOBe2vIicE2jnvP2TEndJ5TXcydoTbPH4n9umnDKDrcyp

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: experiment_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.experiment_results (
    id bigint NOT NULL,
    avg_cpu_percent double precision,
    avg_memory_bytes double precision,
    avg_replicas double precision,
    avg_scaling_delay_seconds double precision,
    mae double precision,
    p95_latency_ms double precision,
    p99_latency_ms double precision,
    peak_cpu_percent double precision,
    peak_replicas integer,
    rmse double precision,
    slo_violation_rate double precision,
    slo_violations bigint,
    total_requests bigint,
    experiment_id character varying(32) NOT NULL,
    k6_failed_requests bigint,
    k6_p95_latency_ms double precision,
    k6_p99_latency_ms double precision,
    k6_slo_violation_rate double precision,
    k6_slo_violations bigint,
    k6_successful_requests bigint,
    k6_total_requests bigint,
    prometheus_scrape_gaps integer,
    prometheus_scrape_samples integer
);


ALTER TABLE public.experiment_results OWNER TO postgres;

--
-- Name: experiment_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.experiment_results ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.experiment_results_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: experiments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.experiments (
    id character varying(32) NOT NULL,
    autoscaling_mode character varying(255) NOT NULL,
    duration_seconds integer NOT NULL,
    end_time timestamp(6) with time zone,
    error_message character varying(2048),
    forecast_horizon_seconds integer,
    name character varying(255) NOT NULL,
    scenario character varying(255) NOT NULL,
    slo_latency_ms integer NOT NULL,
    start_time timestamp(6) with time zone,
    status character varying(255) NOT NULL,
    target_rps integer NOT NULL,
    CONSTRAINT experiments_autoscaling_mode_check CHECK (((autoscaling_mode)::text = ANY ((ARRAY['REACTIVE_HPA'::character varying, 'PREDICTIVE_PROPHET_KEDA'::character varying])::text[]))),
    CONSTRAINT experiments_scenario_check CHECK (((scenario)::text = ANY ((ARRAY['STABLE'::character varying, 'PERIODIC'::character varying, 'GRADUAL'::character varying, 'BURSTY'::character varying, 'NOISY'::character varying])::text[]))),
    CONSTRAINT experiments_status_check CHECK (((status)::text = ANY ((ARRAY['IDLE'::character varying, 'STARTING'::character varying, 'RUNNING'::character varying, 'COMPLETED'::character varying, 'FAILED'::character varying, 'STOPPED'::character varying])::text[])))
);


ALTER TABLE public.experiments OWNER TO postgres;

--
-- Name: scaling_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scaling_events (
    id bigint NOT NULL,
    pod_creation_time timestamp(6) with time zone,
    pod_name character varying(255),
    pod_ready_time timestamp(6) with time zone,
    scaling_delay_seconds double precision,
    trigger_time timestamp(6) with time zone,
    experiment_result_id bigint
);


ALTER TABLE public.scaling_events OWNER TO postgres;

--
-- Name: scaling_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.scaling_events ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.scaling_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: experiment_results; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: experiments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: scaling_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: experiment_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.experiment_results_id_seq', 9, true);


--
-- Name: scaling_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scaling_events_id_seq', 7, true);


--
-- Name: experiment_results experiment_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.experiment_results
    ADD CONSTRAINT experiment_results_pkey PRIMARY KEY (id);


--
-- Name: experiments experiments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.experiments
    ADD CONSTRAINT experiments_pkey PRIMARY KEY (id);


--
-- Name: scaling_events scaling_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scaling_events
    ADD CONSTRAINT scaling_events_pkey PRIMARY KEY (id);


--
-- Name: experiment_results ukcxopr1fuoo2oqs5yfjhwlketo; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.experiment_results
    ADD CONSTRAINT ukcxopr1fuoo2oqs5yfjhwlketo UNIQUE (experiment_id);


--
-- Name: scaling_events fk4hb61ct39b1xqj0hpq2igjyq7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scaling_events
    ADD CONSTRAINT fk4hb61ct39b1xqj0hpq2igjyq7 FOREIGN KEY (experiment_result_id) REFERENCES public.experiment_results(id);


--
-- Name: experiment_results fk96ecqeeiopndb27tcykgbycy4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.experiment_results
    ADD CONSTRAINT fk96ecqeeiopndb27tcykgbycy4 FOREIGN KEY (experiment_id) REFERENCES public.experiments(id);


--
-- PostgreSQL database dump complete
--

\unrestrict ZcNs1jU1kAiiFqAheSwOBe2vIicE2jnvP2TEndJ5TXcydoTbPH4n9umnDKDrcyp

